{% extends 'container.html' %}

{% block content %}

<div class="columns">
    <!-- left section -->
    <div class="column is-one-quarter p-4">
        <section class="hero is-small is-primary">
            <div class="hero-body">
              <p class="title">
                Small hero
              </p>
              <p class="subtitle">
                Small subtitle
              </p>
            </div>
          </section>
    </div>

    <!-- Center section -->
    <div class="column p-4">
        <div class="is-flex is-flex-direction-row is-align-items-center is-justify-content-space-between mb-4">
            <div>
                <h5 class="title is-5">Activities</h5>
                <h6 class="subtitle is-6">Total 3 Activities found</h6>
            
            </div>
            <div><a class="button is-primary " href="{% url 'create_activity' %}" >Create Activity</a></div>
        </div>
        <ul>
        {% for activity in activities %}
            <li>
                <dv>
                    <span>@{{activity.host.username}}</span>
                    <h1 class="title">
                        <a href="activity/{{activity.id}}">{{activity.name}}</a>
                    </h1>
                    <small>{{activity.category}}</small>
                    <a href="{% url 'update_activity' activity_id=activity.id  %}" >Edit activity</a>
                    <a href="{% url 'delete_activity' activity_id=activity.id  %}" >Delete activity</a>
                </dv>
                <hr/>
            </li>
            
        {% endfor %}
        </ul>

        <div><a href="{% url 'create_activity' %}">Create Activity</a></div>
    </div>

    <!-- Right section -->
    <!-- <div class="column is-one-quarter p-4">Right Side</div> -->
  </div>

{% endblock %}  


